.navbar{
    padding: 20px;
    height: 60px;
    display: flex;
    font-size: 18px;
}
.custom-bg {
    background: linear-gradient(90deg, #ff7f00, #ffffff, #008000); /* Horizontal gradient with specific color codes */
}
.navbar-brand {
    color: #000;
    font-size: 24px; /* Increase the font size */
    font-family: Courier New; 
    font-weight: normal;/* Make the text bold */
    transition: color 0.3s, font-weight 0.3s;
  }
  .navbar-brand:hover {
    color: crimson;
    font-weight: bold;
    text-shadow: #ff7f00;
  }
  /* Base link styles */
.nav-link {
    color: #000; /* Set initial color */
    text-decoration: none; /* Remove underline */
    font-weight: normal; /* Initial font weight */
    transition: color 0.3s, font-weight 0.3s; /* Smooth transition */
  }
  
  /* Hover styles */
  .nav-link:hover {
    color: #00008b; /* Dark blue color */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Underline on hover */
  }
  